.dropdown {
  user-select: none;
  position: relative;
}

.btn {
  width: 115px;
  height: 33px;
  color: black;
  border: 1px solid #474747;
  border-radius: 10px;
  font-size: 18px;
  padding: 0 14px 0 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  z-index: 0;
}

.content {
  position: absolute;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-size: 18px;
  width: 143px;
  z-index: 1;
  border-radius: 2px; 
  max-height: 150px; /* Максимальна висота 200px */
  overflow-y: auto; /* Додавання вертикальної прокрутки за необхідності */
}

.item {
  background-color: #F4DADA;
  color: black;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
}

.item:hover {
  background: #CD9D9D;
}

.icon {
  color: #E84A5F;
}

.content::-webkit-scrollbar {
  width: 9px; /* Ширина вертикальної прокрутки */
}

.content::-webkit-scrollbar-track {
  border-radius: 2px;
  width: 9px;
  margin: 2px;
  background-color: #F4DADA; 
}

.content::-webkit-scrollbar-thumb {
  border-radius: 2px; /* Округлення кутів полоски прокрутки */
  width: 4px;
  background-color: #CD9D9D; /* Колір полоски прокрутки */
}