* {
}

body {
  margin: 0;
  background-color: #f4dada;
  font-family: "Futura Book";
}

ul {
  margin: 0; /* прибрали дефолтний відступ зверху */
  list-style-type: none; /*прибрали кружечки */
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

input {
  font-family: inherit;
  background-color: inherit;
  outline: none;

}

h1,
h2,
h3,
h5,
h6 {
  all: unset;
}

h2 {
  font-size: 40px;
  color: #e84a5f;
  font-family: "Cormorant";
}

button {
  all: unset;
  cursor: pointer;
}

figure {
  all: unset;
}

p{
  margin: 0;
}

@font-face {
  font-family: "Futura Book";
  src: url("../public/Futura/FuturaBookC.eot");
  src: url("../public/Futura/FuturaBookC.eot?#iefix")
      format("embedded-opentype"),
    url("../public/Futura/FuturaBookC.woff") format("woff"),
    url("../public/Futura/FuturaBookC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant";
  src: url("../public/Cormorant/Cormorant-Medium.eot");
  src: url("../public/Cormorant/Cormorant-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../public/Cormorant/Cormorant-Medium.woff") format("woff"),
    url("../public/Cormorant/Cormorant-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.slick-dots.slick-thumb {
  bottom: -55px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
  position: absolute;
  left: 50%;
  margin-left: -50px;
}

.slick-dots.slick-thumb li {
  width: 9px;
  height: 9px;
  margin: 0 5px;
  border-radius: 999px;
  transition: all 0.5s ease-in-out;
  background-color: #cd9d9d;
}

.slick-dots.slick-thumb li.slick-active {
  background-color: #e84a5f;
}

.slick-dots li button::before {
  content: "" !important;
}

.slick-initialized .slick-slide {
  margin-right: 50px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
